<header class="header">
  <nav class="navbar">
    <ul class="navbar-items">
      <li class="navbar-item">
        <a routerLink="/home" routerLinkActive="active">首頁</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/vote" routerLinkActive="active">熱門投票</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/create-vote" routerLinkActive="active">建立投票</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/sponsor" routerLinkActive="active">贊助我們</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/contact" routerLinkActive="active">聯絡我們</a>
      </li>
    </ul>
  </nav>
</header>
